@{
    ViewBag.Title = "UpdateProfile";
}

<h2>Update Profile</h2>
<!doctype html>

<html>
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <br><br>
        <div id="first">

            Skills: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <select name="skills">
                <option value="SQL">SQL</option>
                <option value="C#">C#</option>
                <option value="Python">Python</option>
                <option value="C++">C++</option>
            </select>
            <br><br>
            Email address:  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<input type="text" name="qual" value="">
            <br><br>
            Cellphone number: &nbsp &nbsp<input type="text" name="qual" value="">
            <br><br>
            Experience:  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <INPUT TYPE="NUMBER" MIN="0" MAX="40" STEP="1" VALUE="0" SIZE="6">
            <br><br>
            Criminal Record: &nbsp &nbsp &nbsp <input type="checkbox" name="rec" value="Yes"><br>
            <br><br>
        </div>
        <div id="second">
            Qualification: &nbsp &nbsp<input type="text" name="qual" value="">
            <br><br>
            Additional Language: <select name="languages">
                <option value="English">English</option>
                <option value="Afrikaans">Afrikaans</option>
                <option value="Zulu">Zulu</option>
            </select>
            <br><br>
            Province: &nbsp &nbsp &nbsp &nbsp <select name="loc">
                <option value="Gauteng">Pretoria</option>
                <option value="EC">Johannesburg</option>
                <option value="WC">Durban</option>
            </select>
            <br><br>

            City: &nbsp &nbsp &nbsp &nbsp <select name="loc">
                <option value="Pretoria">Pretoria</option>
                <option value="Johannesburg">Johannesburg</option>
                <option value="Durban">Durban</option>
            </select>
            <br><br />
        </div>
        <br><br><br>

        <input class="btn btn-primary" id="btn" type="button" name="Home" value="Back" onclick="location.href='@Url.Action("JobOpportunities", "Project", FormMethod.Get)'" />
        <input class="btn btn-primary" id="btn" type="button" name="Home" value="Save Changes" onclick="location.href='@Url.Action("JobOpportunities", "Project", FormMethod.Get)'" />


    </div>
</body>

</html>

