
@{
    ViewBag.Title = "JobOpportunities";
}

<h2>Job Opportunities</h2>

<div class="mainDiv" style="padding:10px;margin:auto;width:80%;height:80%;text-align:center">


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Job description</th>
                <th>Contract Type</th>
                <th>Salary</th>
                <th>More information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="btn btn-primary" id="btn" type="button" name="ViewJob" value="View Job" onclick="location.href='@Url.Action("JobOpportunities", "JobOpportunities", FormMethod.Get)'" />
                </td>

            </tr>


    </table>

    <input class="btn btn-primary" id="btn" type="button" name="Update" value="Update" onclick="location.href='@Url.Action("UpdateProfile", "Project", FormMethod.Get)'" />
    <input class="btn btn-primary" id="btn" type="button" name="Home" value="Logout" onclick="location.href='@Url.Action("HomePage", "Project", FormMethod.Get)'" />




</div>