
@{
    ViewBag.Title = "JobOpportunities";
}

<h2>Job Opportunities</h2>

<div class="mainDiv" style="padding:10px;margin:auto;width:80%;height:80%;text-align:center">
    
@using (Html.BeginForm("Index", "Jobs", FormMethod.Post))
{
    @*<table class="table table-bordered">
        <thead>
            <tr>
                <th>Job title</th>
                <th>Salary</th>
                <th>Contract Type</th>
                <th>More information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>*@
                @*<td>*@
                    <input id="btn" type="submit" value="view jobs" />
                    @*<input class="btn btn-primary" id="btn" type="button" name="ViewJob" value="View Job" onclick="location.href='@Url.Action("Index", "Job", FormMethod.Get)'" />*@
                @*</td>*@

            @*</tr>*@


    @*</table>*@

    @*<input class="btn btn-primary" id="btn" type="button" name="Update" value="Update" onclick="location.href='@Url.Action("Edit", "Job", FormMethod.Get)'" />*@
    @*<input class="btn btn-primary" id="btn" type="button" name="Home" value="Logout" onclick="location.href='@Url.Action("HomePage", "Project", FormMethod.Get)'" />*@


}
   


</div>